ghostty/themes/noctalia            filter=theme
hypr/hyprlock.conf                  filter=theme
rofi/colors.rasi                    filter=theme
rofi/cliphist.rasi                  filter=theme
starship/starship.toml              filter=theme
swaync/style.css                    filter=theme
waybar/style.css                    filter=theme
waybar/style-wsonly.css             filter=theme
wlogout/style.css                   filter=theme
yazi/flavors/noctalia.yazi/flavor.toml filter=theme
